body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  background-color: #849d8f;
  background-position: top center;
  background-image: url("../img/gradient.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

a {
  text-decoration: none;
}

.invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-nav-points,
.modal-main-nav,
.search,
.cabinet,
.purchase,
.about-shop-list,
.footer-SNS,
.documents-list,
.icecream-list {
  list-style: none;
}

.site-nav-points a,
.schedule a,
.blog a,
.documents-list a,
.footer-trademark a,
.icecream-list a {
  color: #ffffff;
}

.site-nav-chapters {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: underline;
}

.site-nav-chapters:hover {
  text-decoration: none;
  color: #323232;
  background-color: #f8f7f4;
}

.modal-main-nav a {
  color: #323232;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.modal-main-nav li:not:(first-child) {
  font-weight: 400;
}

.modal-main-nav li:first-child {
  font-weight: 700;
}

.modal-main-nav li:hover {
  background-color: #fbded7;
}

.modal-main-nav li:active {
  background-color: #f6b5a5;
}

.modal {
  background-color: #f8f7f4;
}

.modal input {
  border: 1px solid #d3d3d2;
}

.modal-search input,
.user-login input {
  font-size: 14px;
  line-height: 24px;
}

.modal-login-link {
  color: #323232;
  text-decoration: underline;
  font-size: 13px;
  line-height: 24px;
}

form.user {
  font-size: 14px;
  line-height: 24px;
}

.current-page {
  background-color: #d07058;
}

button.button-small {
  background-color: #9eb2a7;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  border: none;
}

button.button-small:hover {
  background-color: #f8f7f4;
  color: #323232;
}

.purchase-empty {
  background-color: #9eb2a7;
  font-weight: 500;
}

.purchase-full {
  background-color: #f8f7f4;
}

.breadcrumbs li {
  list-style-type: none;
}

.breadcrumbs a {
  color: inherit;
}

.breadcrumbs li:not(:last-child):after {
  content: " >>";
}

.schedule {
  font-weight: 700;
}

.schedule-phone {
  font-size: 22px;
  line-height: 22px;
}

.about-shop {
  background-color: #ede1ca;
  background-image: url("../img/index/bg-waffle.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: #323232;
}

.about-shop-intro {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.about-shop-list {
  font-size: 16px;
  line-height: 22px;
}

.blog {
  background-color: #ffffff;
  background-image: url("../img/index/bg-strawberries.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: #323232;
}

.blog-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.blog a {
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
  font-weight: 700;
}

.subscribe {
  background-color: #f8f7f4;
}

.subscribe-description {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.subscribe-form input {
  font-size: 16px;
  line-height: 24px;
}

.address {
  background-color: #fdfefe;
  color: #323232;
}

.address-additional {
  font-size: 14px;
  line-height: 20px;
}

.address-important {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.button-submit-big {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;
  background-color: #f06441;
  text-align: center;
  vertical-align: middle;
  border: none;
}

.modal-feedback input,
.modal-feedback textarea {
  font-size: 16px;
  line-height: 24px;
}

.feedback p {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.feedback-close,
.purchase-delete button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}