body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  background-color: #849d8f;
  background-position: top center;
  background-image: url("../img/gradient.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

a {
  text-decoration: none;
}

.invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-nav-points,
.modal-main-nav,
.search,
.cabinet,
.purchase,
.about-shop-list,
.footer-SNS,
.documents-list,
.icecream-list {
  list-style: none;
}

.site-nav-points a,
.schedule a,
.blog a,
.documents-list a,
.footer-trademark a,
.icecream-list a {
  color: #ffffff;
}

.site-nav-chapters {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: underline;
}

.site-nav-chapters:hover {
  text-decoration: none;
  color: #323232;
  background-color: #f7f6f3;
}

.modal-main-nav a {
  color: #323232;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.modal-main-nav li:not:(first-child) {
  font-weight: 400;
}

.modal-main-nav li:first-child {
  font-weight: 700;
}

.modal-main-nav li:hover {
  background-color: #fbded7;
}

.modal-main-nav li:active {
  background-color: #f6b5a5;
}

.modal {
  background-color: #f8f7f4;
}

.modal input,
textarea {
  border: 1px solid #d3d3d2;
}

.modal-login-link {
  color: #323232;
  text-decoration: underline;
  font-size: 13px;
  line-height: 24px;
}

.modal-login-link:hover,
.modal-login-link:active {
  color: #e84d37;
}

form.user {
  font-size: 14px;
  line-height: 24px;
}

.current-page {
  background-color: #d07058;
}

button.button-small {
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  border: none;
}

button.button-small:hover {
  background-color: #f8f7f4;
  color: #323232;
}

.purchase-full {
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  border: none;
  background-color: #f8f7f4;
  color: #323232;
}

.purchase-full {
  font-size: 14px;
  line-height: 16px;
}

.purchase-empty {
  background-color: #9eb2a7;
  font-weight: 500;
}

.breadcrumbs li {
  list-style-type: none;
}

.breadcrumbs a {
  color: inherit;
}

.breadcrumbs li:not(:last-child):after {
  content: " >>";
}

.breadcrumbs li:not(:last-child) {
  text-decoration: underline;
}

.schedule {
  font-weight: 700;
}

.schedule-phone {
  font-size: 22px;
  line-height: 22px;
}

.about-shop {
  background-color: #ede1ca;
  background-image: url("../img/index/bg-waffle.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: #323232;
}

.about-shop-intro {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.about-shop-list {
  font-size: 16px;
  line-height: 22px;
}

.blog {
  background-color: #ffffff;
  background-image: url("../img/index/bg-strawberries.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: #323232;
}

.blog-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.blog-description {
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
  font-weight: 700;
}

.blog-description a {
  color: inherit;
}

.blog a:hover,
.blog a:active {
  color: #e84d37;
}

.subscribe {
  background-color: #f8f7f4;
}

.subscribe-description {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.subscribe-form-input {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.address {
  background-color: #fdfefe;
  color: #323232;
}

.address-additional {
  font-size: 14px;
  line-height: 20px;
}

.address-important {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.feedback p {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.feedback-close,
.purchase-delete button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.purchased-items {
  color: #323232;
  font-weight: 400;
  text-align: left;
}

.purchased-items a {
  color: #323232;
}

.icecream-type td,
.purchase-weight td,
.final-price td {
  font-size: 13px;
  line-height: 16px;
}

span.purchase-price {
  color: #999999;
}

td.purchase-final-price {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}

.button-submit-big,
div.purchase-pseudobutton,
.icecream-hover {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;
  background-color: #f06441;
  text-align: center;
  vertical-align: middle;
  border: none;
}

.purchase-pseudobutton a {
  color: #fefefe;
}

.icecream-list {
  text-align: center;
}

span.icecream-price {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
}

.icecream-weight {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
}

.icecream-description a {
  text-decoration: underline;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.documents-item a {
  text-decoration: underline;
  font-size: 13px;
  line-height: 16px;
}

.documents-item:first-child {
  font-weight: 700;
}

.footer-trademark-text {
  font-size: 12px;
  line-height: 16px;
}

.footer-trademark-text a {
  text-decoration: underline;
}

.schedule-phone a:hover,
.schedule-phone a:active,
.breadcrumbs li:not(:last-child):hover,
.breadcrumbs li:not(:last-child):active,
.icecream-list a:hover,
.icecream-list a:active,
.documents-item a:hover,
.documents-item a:active,
.footer-trademark-text a:hover,
.footer-trademark-text a:active {
  color: #ffbc9e;
}

::-webkit-input-placeholder {
  color: #999999;
}

::-moz-placeholder {
  color: #999999;
}

/* Firefox 19+ */
:-moz-placeholder {
  color: rgba(153, 153, 153, 0.6);
}

/* Firefox 18- */
:-ms-input-placeholder {
  color: rgba(153, 153, 153, 0.6);
}

.feedback-input {
  border: 1px solid #d3d3d2;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.search-input,
.modal-cabinet-input {
  border: 1px solid #d3d3d2;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.search-input:hover,
.feedback-input:hover,
.modal-cabinet-input:hover,
.subscribe-form-input:hover {
  border: 2px solid #c7c6c5;
  margin: -1px;
}

.search-input:active,
.feedback-input:active,
.modal-cabinet-input:active,
.subscribe-form-input:active {
  border: 2px solid #8fbdec;
  outline: none;
}

.modal-search::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 24px;
}

.modal-search::-moz-placeholder {
  font-size: 14px;
  line-height: 24px;
}

.modal-search:-ms-input-placeholder {
  font-size: 14px;
  line-height: 24px;
}

.modal-search:-moz-placeholder {
  font-size: 14px;
  line-height: 24px;
}

.user-login::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 24px;
}

.user-login::-moz-placeholder {
  font-size: 14px;
  line-height: 24px;
}

.user-login:-ms-input-placeholder {
  font-size: 14px;
  line-height: 24px;
}

.user-login:-moz-placeholder {
  font-size: 14px;
  line-height: 24px;
}